<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">



    <bean id="piano" class="com.test2.Piano"></bean>

    <bean id="kenny" class="com.test2.Instrumentalist">
        <property name="song" value="quyixiao"></property>
        <property name="instrument">
            <bean id="saxophone" class="com.test2.Saxophone"></bean>
        </property>
    </bean>


</beans>