<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
default-init-method="turnOnLights"
default-destroy-method="turnOffLights">
<!--


    <bean id="auditorium" class="com.test2.Auditorium" init-method="turnOnLights"
          destroy-method="turnOffLights"></bean>
-->




    <bean id="auditorium" class="com.test2.Auditorium"></bean>
    <bean id="auditorium1" class="com.test2.Auditorium1"></bean>



</beans>