<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">

    <bean id="hank" class="com.test2.OneManBand2">
        <property name="properties">
            <props>
                <prop key="zhangsan">zhangsan</prop>
                <prop key="lisi">lisi</prop>
                <prop key="wangwu">wangwu</prop>
                <prop key="zhaoliu">zhaoliu</prop>
            </props>
        </property>
    </bean>

</beans>