<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-init-method="turnOnLights"
       default-destroy-method="turnOffLights">


    <util:list id="cities">

        <bean class="com.test2.City" p:name="x" p:state="x" p:population="1111"></bean>
        <bean class="com.test2.City" p:name="y" p:state="y" p:population="2222"></bean>
        <bean class="com.test2.City" p:name="z" p:state="z" p:population="3333"></bean>
        <bean class="com.test2.City" p:name="changsan" p:state="xx" p:population="4444"></bean>
    </util:list>


    <bean id="citys" class="com.test2.Citys">
        <property name="city" value="#{cities[2]}"></property>
    </bean>


    <bean id="yy" class="com.test2.City" p:name="y" p:state="y" p:population="893282938"></bean>
    <bean id="zz" class="com.test2.City" p:name="z" p:state="z" p:population="893282938"></bean>

    <util:map id="mapcities">
        <entry key="x">
            <bean id="xx" class="com.test2.City" p:name="x" p:state="x" p:population="893282938"></bean>
        </entry>
        <entry key="y" value-ref="yy"></entry>
        <entry key="z" value-ref="zz"></entry>
    </util:map>


    <bean id="citys1" class="com.test2.Citys">
        <property name="city" value="#{cities[T(java.lang.Math).random() * cities.size()]}"></property>
    </bean>


    <bean id="citys2" class="com.test2.Citys">
        <property name="city" value="#{mapcities['x']}"></property>
    </bean>



    <util:properties id="properties" location="classpath:help1/settings13.properties">

    </util:properties>


    <bean id="settings" class="com.test2.Settings">
        <property name="name" value="#{properties['twitter.name']}"></property>
    </bean>



    <bean id="settings2" class="com.test2.Settings">
        <property name="name" value="#{systemEnvironment['HOME']}"></property>
    </bean>


    <bean id="settings3" class="com.test2.Settings">
        <property name="name" value="#{systemProperties['application.home']}"></property>
    </bean>


    <bean id="cityList" class="com.test2.CityList">
        <property name="citys" value="#{cities.?[population gt 2222 ]}"></property>
    </bean>


    <bean id="cityList1" class="com.test2.CityList">
        <property name="citys" value="#{cities.^[population gt 2222 ]}"></property>
    </bean>


    <bean id="cityList2" class="com.test2.CityList">
        <property name="citys" value="#{cities.$[population gt 2222 ]}"></property>
    </bean>



    <bean id="cityNameList" class="com.test2.CityNameList">
        <property name="names" value="#{cities.![name]}"></property>
    </bean>



    <bean id="cityNameList1" class="com.test2.CityNameList">
        <property name="names" value="#{cities.![name + ',' + state]}"></property>
    </bean>

</beans>